.pageHeader {
  background-color: black;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid black;
  height: 150px;
}

.sectionHeader {
  background-color: lightgrey;
  font-size: 16px;
  padding: 10px;
}

.sectionBody {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.pageCenter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMessage {
  background-color: #28b028;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
}